html, body {
  height:95%;
  padding:0;
}

.full_height {
  height:100%;
}

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
	padding-top: 1rem;
	margin-bottom: 1rem;
/*  padding-top: 5.125rem;*/
}

.outer {
  margin: 0 auto;
  padding-top: 1.5em;
  max-width: inherit;
  padding-left: 2em;
  padding-right: 2em;
}

.title {
  align-self: center;
  text-align: center;
  color: black;
  font-size: 2em;
  font-family: sans-serif;
}

.subtitle {
  align-self: center;
  text-align: center;
}

.message_box {
  margin-top: 1em;
  padding: 2px;
  padding-left: 0.5em;
  margin-bottom: 0.5em; 
  text-align: left;
  max-width: 100%; 
  resize: none;
  height: 5em;
  font-family: sans-serif;
}

.message {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 0.75em;
  border-bottom: 1px solid #a5e5e5;
  word-wrap: break-word;
  font-family: sans-serif;
}

.user_text {
  font-size: 1.5em; 
  white-space: pre;
}

.user_details {
  font-size: 13px;
  font-family: sans-serif;
  color: gray;
}

.rooms {
  margin-top: 1em;
  margin-bottom: 1em;
}

.search_bar {
  max-width: 100%;
}

.login_buttons {
  align-self: center;
}

.time {
  font-size: 13px;
  font-family: sans-serif;
  color: gray;
  padding-left: 2em;
}

.room_item {
  margin-top: 1em;
  padding: 5;
  max-width: 100%;  
  font-size: 20px;  
  border-bottom: 1px solid #a5e5e5;
  margin-bottom: 1em;
  font-family: sans-serif;
  color: #4593ED;
}

.icon { 
  padding-right: 0.5em;
  padding-left: 0.25em;
  float: right;
  font-size: 20px;
}

.trash {
  color: red; 
}

.arrow {
  color: #4DA9D6;
}

.info {
  color: #4DA9D6;  
}

.new_room {
  padding-left: 0.5em;
  margin-bottom: 1em;
  margin-top: 1em;
  font-family: sans-serif;
}

.back_arrow {
  float: left;
  font-size: 2em;
  color: #eb5f3a;
}

.message_infomation {
  margin-bottom: 1em; 
  margin-top: 1em;
}

#map { 
	margin-top: 1em;
  height: 99%;
  width: 100%;
  cursor: crosshair;
}

.marker-cluster-small {
	background-color: rgba(181, 226, 140, 0.6);
	}
.marker-cluster-small div {
	background-color: rgba(110, 204, 57, 0.6);
	}

.marker-cluster-medium {
	background-color: rgba(241, 211, 87, 0.6);
	}
.marker-cluster-medium div {
	background-color: rgba(240, 194, 12, 0.6);
	}

.marker-cluster-large {
	background-color: rgba(253, 156, 115, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(241, 128, 23, 0.6);
	}

	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: rgb(181, 226, 140);
	}
.leaflet-oldie .marker-cluster-small div {
	background-color: rgb(110, 204, 57);
	}

.leaflet-oldie .marker-cluster-medium {
	background-color: rgb(241, 211, 87);
	}
.leaflet-oldie .marker-cluster-medium div {
	background-color: rgb(240, 194, 12);
	}

.leaflet-oldie .marker-cluster-large {
	background-color: rgb(253, 156, 115);
	}
.leaflet-oldie .marker-cluster-large div {
	background-color: rgb(241, 128, 23);
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	line-height: 30px;
	}










.flash{

  -moz-animation: flash 1s ease-out;
  -moz-animation-iteration-count: 1;

  -webkit-animation: flash 1s ease-out;
  -webkit-animation-iteration-count: 1;

  -ms-animation: flash 1s ease-out;
  -ms-animation-iteration-count: 1;

}

@-webkit-keyframes flash {
    0% { background-color:none;}
    50% { background-color:#fbf8b2;}        
    100% {background-color:none;}
}

@-moz-keyframes flash {
    0% { background-color:none;}
    50% { background-color:#fbf8b2;}        
    100% {background-color:none;}
}

@-ms-keyframes flash {
    0% { background-color:none;}
    50% { background-color:#fbf8b2;}        
    100% {background-color:none;}
}
.leaflet-container a {
  -webkit-user-select: none;
}