<template name='rooms'>
  {{#each roomList}}
    {{> room_item}}
  {{/each}}
  <form id='room_form'>
    <input id='new_room'  type="text" style="width:100%" class="new_room" placeholder="New Room" autocomplete="off"/>
  </form>
<!--    {{> map}}-->
</template>



<template name='room_item'>
  <div class='room_item' data-toggle="collapse" data-target="#{{this._id}}">
    <i class="fa fa-trash trash icon"></i>
    <a href='/rooms/{{_id}}'>{{name}}</a>
  </div>
  <div class="collapse" id="{{this._id}}">
    <a href="#" class="content_field" data-name="{{this._id}}"></a>
      {{> room_infomation}}
  </div>
</template>

<template name="room_infomation">
<!-- Put the list of active users for this room in here -->
<!--  <div>{{name}}</div>-->
  <div>Owner: {{owner_email}}</div>
  <div>Created at: {{creation_date}}</div>
<!--  <div>This will soon be a list of active users in the room</div>-->
</template>

<!--
<template name='map' >
  <div id="map">d</div>
</template>-->


<!--------------------------------------------------------------------------------------------- -->


