<template name='room'>
  <!--  <i class="fa fa-arrow-circle-left back_arrow"></i>-->
  <div class="row">
    <div class="col-md-12"><h1 class="title">{{room}}</h1></div><!-- make this the group chat name -->
    <div class="col-md-6">
      <div class="message_history">
        {{> messages}}
      </div>
      {{> textInput}}
    </div>
    <div class="col-md-6">
      {{> map}}
    </div>
  </div>
</template>


<template name='messages'>
  {{#each messages}}
  {{> message }}
  {{/each}}
</template>

<template name='message' class="message">
  <div class='message' data-toggle="collapse" data-target="#{{this._id}}">
    <i class="fa fa-trash icon trash"></i>
    <i class="fa fa-location-arrow icon arrow"></i>
    <div class='user_details'>{{email}} ({{time}})</div>
    <div class='user_text'>{{text}}</div>
    <div class="collapse" id="{{this._id}}">
      <a href="#" class="content_field" data-name="{{this._id}}"></a>
      {{> message_infomation}}
    </div>
  </div>



</template>

<template name="message_infomation" class="message_infomation">
  <div>{{email}}</div>
  <div>{{date}}</div>
  <div>{{room}} </div>
  <div>{{positon}}</div>
</template>

<template name='textInput'>
  <form id='ourForm'>
    <input id='messagebox'  type="text" style="width:100%" class="message_box" placeholder="Enter Message"/>
  </form>
  <!--  {{> map}}-->
</template>

<template name='map'>
  <div id="map"></div>
</template>